.env
*.png
*.engine
*.pt
*.jpg
*.bmp
*.log*
*.pyc*
*.pth
*.mp4
*.avi
./test_res
./deployed_models
./models_weight
.history/
build
dist
*.egg-info
OUTPUT.json
OUTPUT_latest.json
*config.yaml
testings
docker_vols/input
docker_vols/saved_results
docker_vols/models_weight



